/* Background seller - size of all screen */
#map {
    positon: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
}

/* Main covering the seller to allow placing element over the seller*/
#overMapContainer {
    pointer-events: none;
    /*To click on the seller through the container*/
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

#overMapContainer::-webkit-scrollbar {
    display: none;
}

.main > *, header {
    pointer-events: all;
    /*The header and everything in the main is clickable */
}

.main {
    flex: 1;
}

#left-content{
    position: absolute;
    visibility: collapse;
    left: 0;
    height: 93vh;
}

#overMapContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}