<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" th:href="@{/img/fist.png}" />
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <title>LeBonPoing</title>
</head>
<body>
<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <img class="lg:w-1/2 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://cdn.wallpapersafari.com/77/32/tluGka.jpg">
        <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Page not found</h1>
            <p class="mb-8 leading-relaxed">You have been lost in the meander of the infinty of the multiple universe.<br>
                You are doomed to wander in the darkness, contemplating the eternity of you mistake...<br/>
            ...Or you can click on the button below to get back to the home page</p>
            <div class="flex justify-center">
                <a href="/index">
                    <button class="inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg"><span style="text-decoration: line-through;">No&nbsp;</span>Way Home</button>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>