<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="shared_views/_layout"
      xmlns:th="http://www.thymeleaf.org">
<!-- Content Section -->
<div layout:fragment="content">
    <!-- Incident Declaration -->
    <div class="flex justify-between">
        <h2 class="text-gray-900 text-xl mb-1 font-medium title-font">Declare incident</h2>
        <button id="HideLeftContentButton" >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 fill-green-600" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="1">
                <path  fillRule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clipRule="evenodd" />
            </svg>
        </button>
    </div>
        <div class="relative mb-4">
            <label for="incidentDeclared" class="leading-7 text-base text-gray-600">Incident</label>
            <div class="relative">
                <select  id="incidentDeclared"
                         name="incidentDeclared"
                         class="rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base pl-3 pr-10 w-full">
                    <option disabled selected value="NoSelection">Please select an incident</option>
                    <option class="incidentOption" th:each="incident : ${mainViewModel.incidents}" th:value="${incident.id}" th:alt="${incident.iconUrl}" th:text="${incident.name}"></option>
                </select>
                <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </div>
        </div>
        <div class="relative mb-4">
            <label for="radius" class="leading-7 text-base text-gray-600">Radius in km (50km by default if not selected)</label>
            <div class="relative">
                <select  id="radius" name="radius" class="rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-green-200 focus:border-green-500 text-base pl-3 pr-10 w-full">
                    <option disabled selected value="NoSelection">Action radius</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
                <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </div>
        </div>
        <button id="declareIncidentButton"
                class="text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg"
        aria-label="You are solely responsible for the incident declaration.<br/> LeBonPoing could not be responsible for the damages \n caused by the warth of a disapointed super hero after a false declaration">Declare</button>
    <!-- Super Hero Found -->
    <h2 class="text-gray-900 text-xl mt-5 mb-5 font-medium title-font border-t-2 pt-5 border-gray-100 mt-5">Matching Super-Heroes</h2>
    <div id="superHeroList" class="flex-col overflow-auto h-auto">
    </div>
</div>
</html>
