<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" th:href="@{/img/fist.png}"/>
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
    <title>LeBonPoing</title>
</head>
<body>
<header th:insert="shared_views/_header :: header"></header>
<section class="text-gray-600 body-font">
    <h1 class="mt-20 mx-1 sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 ">The sources are running from here !
    </h1>
    <div class="container px-5 py-24 mx-auto">
        <div class="flex-grow mt-6 border-b-2 border-gray-300 pb-6 sm:text-left text-center">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Springboot, hibernate, thymeleaf...</h2>
            <p class="leading-relaxed text-base">Huge source of tutorial to work with springboot, thymeleaf and hibernate</p>
            <a href="https://www.baeldung.com/spring-boot-crud-thymeleaf"
               target="_blank" class="mt-3 text-green-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
        <div class="flex-grow mt-6 border-b-2 border-gray-300 pb-6 sm:text-left text-center">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Layout Thymeleaf - basic</h2>
            <p class="leading-relaxed text-base">Basic installation of thymeleaf layout</p>
            <a href="https://ultraq.github.io/thymeleaf-layout-dialect/getting-started/"
               target="_blank" class="mt-3 text-green-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
        <div class="flex-grow mt-6 border-b-2 border-gray-300 pb-6 sm:text-left text-center">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Layout Thymeleaf - Advanced</h2>
            <p class="leading-relaxed text-base">To start working with layout, fragment and functions</p>
            <a href="https://attacomsian.com/blog/spring-boot-thymeleaf-layouts"
               target="_blank" class="mt-3 text-green-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
        <div class="flex-grow mt-6 border-b-2 border-gray-300 pb-6 sm:text-left text-center">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">TailWind - NavBar</h2>
            <p class="leading-relaxed text-base">How to implement a navbar using tailwind</p>
            <a href="https://www.section.io/engineering-education/creating-a-responsive-navigation-bar-using-tailwind-css-and-javascript/"
               target="_blank" class="mt-3 text-green-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
        <div class="flex-grow mt-6 border-b-2 border-gray-300 pb-6 sm:text-left text-center">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">TailWind - Templates</h2>
            <p class="leading-relaxed text-base">Sources of tailwind templates ready-to-use</p>
            <a href="https://tailblocks.cc/"
               target="_blank" class="mt-3 text-green-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
        <div class="flex-grow mt-6 border-b-2 border-gray-300 pb-6 sm:text-left text-center">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Leaflet</h2>
            <p class="leading-relaxed text-base">Javascript/JQuery library to display a map</p>
            <a href="https://leafletjs.com/"
               target="_blank" class="mt-3 text-green-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
        <div class="flex-grow mt-6 border-b-2 border-gray-300 pb-6 sm:text-left text-center">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">CheckBox checker</h2>
            <p class="leading-relaxed text-base">StackOverFlow thread - To prevent more than x checkbox to be ticked</p>
            <a href="https://stackoverflow.com/questions/48592634/script-to-limit-number-of-checkboxes-checked"
               target="_blank" class="mt-3 text-green-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
        <div class="flex-grow mt-6 border-b-2 border-gray-300 pb-6 sm:text-left text-center">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">A bit of mathematic</h2>
            <p class="leading-relaxed text-base">How to calculate the distance between to points on earth</p>
            <a href="https://www.01net.com/actualites/calculer-la-distance-entre-2-points-sur-terre-522697.html"
               target="_blank" class="mt-3 text-green-500 inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </div>
</section>
</body>
</html>