<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" th:href="@{/img/fist.png}"/>
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
    <link rel="stylesheet" th:href="@{/css/superRegistration.css}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <title>LeBonPoing</title>
</head>
<body>
<div class="main">
    <header th:insert="shared_views/_header :: header"></header>
    <section class="text-gray-600 body-font relative">
        <div class="container px-5 py-1 mx-auto h-1/3 flex-col md:flex md:flex-row md:items-center md:flex-nowrap">
            <div class="h-96 lg:w-2/3 lg:h-96 md:w-1/2 md:h-96 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative"
                 id="map"></div>
            <form th:action="@{/super/register}"
                  th:object="${RegisterSuperHeroCommand}"
                  method="post"
                  id="RegisterForm"
                  enctype="multipart/form-data"
                  class="lg:w-1/3 md:w-1/2 bg-white flex flex-col md:ml-auto w-full md:py-8 mt-8">
                <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Enroll yourself as super-hero</h2>
                <p class="leading-relaxed mb-5 text-gray-600">Select your position on the map, register your information
                    at start being available for the population</p>
                <div class="relative mb-4">
                    <label for="name" class="form-label inline-block mb-2 text-gray-700">Name*:</label>
                    <input type="text"
                           required
                           id="name"
                           name="name"
                           th:field="*{name}"
                           placeholder="Enter your name here"
                           class="form-control
                               block
                                w-full
                                px-3
                                py-1.5
                                text-base
                                font-normal
                                text-gray-700
                                bg-white bg-clip-padding
                                border border-solid border-gray-300
                                rounded
                                transition
                                ease-in-out
                                m-0
                                focus:text-gray-700 focus:bg-white focus:border-green-600 focus:outline-none"/>
                    <div class="relative mb-4">
                        <label for="phoneNumber" class="form-label inline-block mb-2 text-gray-700">Phone
                            Number*</label>
                        <input type="tel"
                               required
                               id="phoneNumber"
                               name="phoneNumber"
                               th:field="*{phoneNumber}"
                               placeholder="Phone Number"
                               class="form-control
                                   block
                                   w-full
                                   px-3
                                   py-1.5
                                   text-base
                                   font-normal
                                   text-gray-700
                                   bg-white bg-clip-padding
                                   border border-solid border-gray-300
                                   rounded
                                   transition
                                   ease-in-out
                                   m-0
                                   focus:text-gray-700 focus:bg-white focus:border-green-600 focus:outline-none">
                    </div>
                    <div class="relative mb-4">
                        <label for="description" class="form-label inline-block mb-2 text-gray-700">Description*</label>
                        <textarea required
                                  id="description"
                                  name="description"
                                  th:field="*{description}"
                                  placeholder="Enter a short description of yourself (hobbies, age, powers, number of fingers, ...)"
                                  class="form-control
                                      block
                                      w-full
                                      px-3
                                      py-1.5
                                      text-base
                                      font-normal
                                      text-gray-700
                                      bg-white bg-clip-padding
                                      border border-solid border-gray-300
                                      rounded
                                      transition
                                      ease-in-out
                                      m-0
                                      focus:text-gray-700 focus:bg-white focus:border-green-600 focus:outline-none"></textarea>
                    </div>
                    <div id="incidentCheckBoxArea" class="relative mb-4">
                        <label for="incidents" class="form-label inline-block mb-2 text-gray-700">I am able to face (1
                            to 3):</label>
                        <input th:type="checkbox"
                               id="incidents"
                               name="incidents"
                               class="ml-4 mr-2 flex-box incidentCheckBox"
                               th:each="incident :  ${incidentList}"
                               th:text="${incident.name}"
                               th:value="${incident.id}"
                               th:field="*{incidents}">
                    </div>
                    <input th:type="hidden" th:field="*{latitude}" id="latitudeForm">
                    <input th:type="hidden" th:field="*{longitude}" id="longitudeForm">
                    <button type="submit" id="submitRegisterButton"
                            class="text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg">
                        Submit
                    </button>
                </div>
            </form>
        </div>
        <div th:if="${flashMessageSuccess != null}" class="flex justify-center">
            <div class="w-full px-6 py-3 shadow-2xl flex flex-col items-center border-t
        sm:w-auto sm:m-4 sm:rounded-lg sm:flex-row sm:border bg-green-600 border-green-600 text-white">
                <div th:text="${flashMessageSuccess}"></div>
                <div class="flex mt-2 sm:mt-0 sm:ml-4">
                    <a href="/index">
                    <button class="px-3 py-2 bg-green-900  rounded-lg hover:bg-green-700 transition ease-in-out duration-300">Job done, let's back home</button>
                    </a>
                </div>
            </div>
        </div>
        <div th:if="${flashMessageError != null}" class="flex justify-center">
            <div class="w-full px-6 py-3 shadow-2xl flex flex-col items-center border-t
        sm:w-auto sm:m-4 sm:rounded-lg sm:flex-row sm:border bg-red-600 border-red-600 text-white">
                <div th:text="${flashMessageError}"></div>
            </div>
        </div>
    </section>
</div>
<footer class="bg-gray-100 bg-opacity-25 rounded-l-lg invisible md:visible">This is another footer, you've got the hawk's eye ! (<a href="/sources">copy and paste<a/> are still involved)
</footer>
</body>
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossOrigin=""></script>
<script th:src="@{/scripts/mapMain.js}"></script>
<script th:src="@{/scripts/httpServices.js}"></script>
<script th:src="@{/scripts/mapRegister.js}"></script>
</html>