<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" th:href="@{/img/fist.png}" />
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
    <link rel="stylesheet" th:href = "@{/css/main.css}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <title>LeBonPoing</title>
</head>
<body>
    <div id ="map"></div>
    <div id="overMapContainer" class="box-border">
        <div class="main">
            <header th:insert="shared_views/_header :: header"></header>
            <div id="left-content"
                 class="lg:w-1/3 md:w-1/3 bg-white flex flex-col md:ml-auto w-full md:py-8 mt-0 md:mt-0 pl-10 pr-10"
                 layout:fragment="content"></div>
            <footer class="bg-white bg-opacity-50 rounded-l-lg invisible md:visible text-gray-600">Super website created by a super guy with the help of super <a href="/sources">copy and paste<a/></footer>
        </div>
    </div>
</body>
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossOrigin=""></script>
<script th:src="@{/scripts/mapMain.js}"></script>
<script th:src="@{/scripts/mapHome.js}"></script>
<script th:src="@{/scripts/httpServices.js}"></script>
<script th:src="@{/scripts/incident.js}"></script>
</html>